---
import CurrentlyPlaying from "@blocks/NowPlaying.svelte";
---

<footer class="cluster gap:3" data-justify="space-between">
	<p>Alexis Vielma – &copy; {new Date().getFullYear()}</p>
	<CurrentlyPlaying client:load mode="compact" />
</footer>
