---
import Logo from "src/lib/blocks/icons/Logo.astro";
import ThemeToggle from "./ThemeToggle.astro";

const links = [
	{ label: "home", url: "/" },
	{ label: "blog", url: "/blog" },
];
---

<header role="banner" class="repel" style="position: relative;">
	<div class="cluster">
		<a class="brand" href="/" aria-label="Alexis Vielma">
			<Logo />
		</a>
		<span>—</span>
		<nav aria-label="primary">
			<ul role="list" class="cluster">
				{
					links.map(({ label, url }) => (
						<li>
							<a href={url}>{label}</a>
						</li>
					))
				}
			</ul>
		</nav>
	</div>
	<div class="cluster" style="--space: 0.75rem;">
		<ThemeToggle />
		<svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
			<circle cx="2" cy="2" r="2" fill="var(--txt-2)"></circle>
		</svg>
		<svg width="14" height="15" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_383_47)">
				<path
					d="M10.7812 6.125H10.3125V3.78125C10.3125 3.03533 10.0162 2.31996 9.48874 1.79251C8.96129 1.26507 8.24592 0.96875 7.5 0.96875C6.75408 0.96875 6.03871 1.26507 5.51126 1.79251C4.98382 2.31996 4.6875 3.03533 4.6875 3.78125V6.125H4.21875C3.72164 6.12554 3.24504 6.32326 2.89352 6.67477C2.54201 7.02629 2.34429 7.50289 2.34375 8V13.1562C2.34429 13.6534 2.54201 14.13 2.89352 14.4815C3.24504 14.833 3.72164 15.0307 4.21875 15.0312H10.7812C11.2784 15.0307 11.755 14.833 12.1065 14.4815C12.458 14.13 12.6557 13.6534 12.6562 13.1562V8C12.6557 7.50289 12.458 7.02629 12.1065 6.67477C11.755 6.32326 11.2784 6.12554 10.7812 6.125ZM9.375 6.125H5.625V3.78125C5.625 3.28397 5.82254 2.80706 6.17417 2.45542C6.52581 2.10379 7.00272 1.90625 7.5 1.90625C7.99728 1.90625 8.47419 2.10379 8.82582 2.45542C9.17746 2.80706 9.375 3.28397 9.375 3.78125V6.125Z"
					fill="var(--txt-1)"></path>
			</g>
			<defs>
				<clipPath id="clip0_383_47">
					<rect width="15" height="15" fill="white" transform="translate(0 0.5)"></rect>
				</clipPath>
			</defs>
		</svg>
	</div>
</header>

<style>
	header {
		position: relative;
		padding-bottom: 1rem;
	}

	.brand {
		padding-top: 0.45rem;
	}

	nav li a {
		color: var(--color-text);
		text-decoration: none;
	}

	nav li a:hover {
		text-decoration: underline;
	}

	.active {
		color: red !important;
	}
</style>
