---
import Cluster from "./Cluster.astro";

const links = [
	{ label: "now", url: "/now" },
	{ label: "blog", url: "/blog" },
	{ label: "resume", url: "/resume" },
];
---

<header role="banner">
	<div class="repel">
		<Cluster space="1em">
			<a class="brand" href="/" aria-label="Alexis Vielma">
				<svg width="80" height="32" viewBox="0 0 80 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M25.015 8.485C27.6988 5.80125 32.2155 5.79654 33.6679 9.30304C34.5473 11.4262 35 13.7019 35 16C35 18.2981 34.5473 20.5738 33.6679 22.697C32.2154 26.2035 27.6987 26.1988 25.015 23.515L23.6872 22.1872C20.2701 18.7701 20.2701 13.2299 23.6872 9.81282L25.015 8.485Z"
						fill="#3E3E3E"></path>
					<path
						d="M17.5 23.5C17.5 29.0228 12.6807 33.7066 8.03521 30.7197C6.99233 30.0492 6.01595 29.2647 5.12563 28.3744C1.84375 25.0925 9.77458e-07 20.6413 0 16C-9.77457e-07 11.3587 1.84374 6.90752 5.12563 3.62564C6.01595 2.73531 6.99233 1.95083 8.03521 1.28029C12.6807 -1.70662 17.5 2.97715 17.5 8.5L17.5 16V23.5Z"
						fill="#1E1E1E"></path>
					<path
						d="M59.98 20.52H54.74L53.9 23H50.32L55.4 8.96H59.36L64.44 23H60.82L59.98 20.52ZM59.1 17.88L57.36 12.74L55.64 17.88H59.1ZM79.1661 8.96L74.1861 23H69.9061L64.9261 8.96H68.5661L72.0461 19.56L75.5461 8.96H79.1661Z"
						fill="#3E3E3E"></path>
				</svg>
			</a>
			<span>–</span>
			<nav aria-label="primary">
				<Cluster as="ul" role="list" space="1.5em">
					{
						links.map(({ label, url }) => (
							<li>
								<a href={url}>{label}</a>
							</li>
						))
					}
				</Cluster>
			</nav>
		</Cluster>
		<Cluster space="0.5em">
			<svg width="14" height="15" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M7.73438 14.5625C5.93173 14.5625 4.20292 13.8464 2.92826 12.5717C1.6536 11.297 0.9375 9.56822 0.9375 7.76558C0.9375 5.01167 2.51953 2.54253 4.96904 1.47642C5.05537 1.43879 5.15103 1.42804 5.24356 1.44557C5.33609 1.46309 5.42119 1.50808 5.48778 1.57467C5.55437 1.64126 5.59936 1.72636 5.61688 1.81889C5.63441 1.91142 5.62366 2.00708 5.58604 2.09341C5.30479 2.73911 5.15625 3.56616 5.15625 4.48433C5.15625 7.71519 7.78477 10.3437 11.0156 10.3437C11.9338 10.3437 12.7608 10.1952 13.4065 9.91391C13.4929 9.87629 13.5885 9.86554 13.6811 9.88307C13.7736 9.90059 13.8587 9.94558 13.9253 10.0122C13.9919 10.0788 14.0369 10.1639 14.0544 10.2564C14.0719 10.3489 14.0612 10.4446 14.0235 10.5309C12.9574 12.9804 10.4883 14.5625 7.73438 14.5625Z"
					fill="#3E3E3E"></path>
			</svg>
			<svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="2" cy="2" r="2" fill="#D9D9D9"></circle>
			</svg>
			<svg width="14" height="15" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_383_47)">
					<path
						d="M10.7812 6.125H10.3125V3.78125C10.3125 3.03533 10.0162 2.31996 9.48874 1.79251C8.96129 1.26507 8.24592 0.96875 7.5 0.96875C6.75408 0.96875 6.03871 1.26507 5.51126 1.79251C4.98382 2.31996 4.6875 3.03533 4.6875 3.78125V6.125H4.21875C3.72164 6.12554 3.24504 6.32326 2.89352 6.67477C2.54201 7.02629 2.34429 7.50289 2.34375 8V13.1562C2.34429 13.6534 2.54201 14.13 2.89352 14.4815C3.24504 14.833 3.72164 15.0307 4.21875 15.0312H10.7812C11.2784 15.0307 11.755 14.833 12.1065 14.4815C12.458 14.13 12.6557 13.6534 12.6562 13.1562V8C12.6557 7.50289 12.458 7.02629 12.1065 6.67477C11.755 6.32326 11.2784 6.12554 10.7812 6.125ZM9.375 6.125H5.625V3.78125C5.625 3.28397 5.82254 2.80706 6.17417 2.45542C6.52581 2.10379 7.00272 1.90625 7.5 1.90625C7.99728 1.90625 8.47419 2.10379 8.82582 2.45542C9.17746 2.80706 9.375 3.28397 9.375 3.78125V6.125Z"
						fill="#3E3E3E"></path>
				</g>
				<defs>
					<clipPath id="clip0_383_47">
						<rect width="15" height="15" fill="white" transform="translate(0 0.5)"></rect>
					</clipPath>
				</defs>
			</svg>
		</Cluster>
	</div>
</header>

<style>
	header {
		position: sticky;
		top: 0;
		background: rgba(255, 255, 255, 0.25);
		backdrop-filter: blur(10px);
		border: 1px solid rgba(255, 255, 255, 0.18);
	}

	.brand {
		display: inline-block;
		width: 5rem;
		padding-top: 0.65rem;
	}

	nav li a {
		color: var(--color-text);
		text-decoration: none;
	}

	nav li a:hover {
		text-decoration: underline;
	}
</style>
