---
import Cluster from "./Cluster.astro";

const path = Astro.url.pathname;
---

<Cluster>
	<p>
		{path !== "/" && <a href="/">← back</a>}
		{path === "/" && <a href="/">{path === "/" ? "./" : path}</a>}
	</p>
</Cluster>

<style>
	a {
		font-family: "Inconsolata", monospace;
		font-weight: 700;
		color: #3e3e3e;
	}
</style>
