<div class="box stack">
	<div class="repel">
		<p><strong>project name</strong></p>
		<p>icon url</p>
	</div>
	<p>
		description of the project Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni incidunt quia repellat
		omnis ex.
	</p>
	<div class="cluster">
		<span class="language"></span>
		<p>Language</p>
	</div>
</div>
