---
import Project from "@blocks/Project.astro";
import JobExperience from "@blocks/WorkExperience.astro";
import MainLayout from "@layout/MainLayout.astro";

import CurrentlyPlaying from "@blocks/NowPlaying.svelte";

const jobs = [
	{
		title: "Technology Director",
		company: "KJHK 90.7 FM",
		companyUrl: "https://kjhk.org",
		startDate: "Mar 2023",
		endDate: "Present",
		location: "Hyrbrid – Lawrence, KS",
		languages: [
			{
				url: "https://www.typescriptlang.org/",
				name: "TypeScript",
			},
			{
				url: "reactjs.org",
				name: "React Native",
			},
			{
				url: "https://wordpress.org/",
				name: "WordPress",
			},
		],
		description:
			"Led technology system development, fixed WordPress plugin issues for faster page loads, built an event-driven API gateway, redesigned a mobile app with React Native and TypeScript, and improved technical problem resolution and documentation at the radio station.",
	},
	{
		title: "Software Engineer",
		company: "Lightbulb.ai",
		companyUrl: "https://lightbulb.ai",
		startDate: "May 2023",
		endDate: "Present",
		location: "Remote",
		languages: [
			{
				url: "https://www.typescriptlang.org/",
				name: "TypeScript",
			},
			{
				url: "reactjs.org",
				name: "React",
			},
		],
		description:
			"Created a backend API with Nest.js and TypeScript for multiple Natural Language Processors, built an MVP web dashboard with React and Vite, and researched serverless architecture for future scalability.",
	},
];

type Repo = {
	name: string;
	description: string;
	stargazerCount: number;
	forkCount: number;
	primaryLanguage: {
		name: string;
		color: string;
	};
	pushedAt: string;
	url: string;
};

const repos: Repo[] = await fetch("https://ghapi.dstn.to/aelxxs/pinned")
	.then((res) => res.json())
	.then((res) => res.data);

const exactAge = new Date().getTime() - new Date("2003-01-29").getTime();
const age = Math.floor(exactAge / 31536000000);
---

<MainLayout title="Alexis Vielma">
	<h3 class="fs:sm txt:main">About Me</h3>
	<p>
		Hello, I'm <strong>Alexis Vielma</strong>. I'm a <abbr title="01-29-2003">{age}y/o</abbr> Computer Science student
		at the <a href="https://ku.edu"><strong>University of Kansas</strong></a>.
	</p>
	<p>
		I design and build accessible and inclusive experiences for the web. On my free time, I enjoy collecting and
		spinning vinyl records, learning languages, and watching k-dramas.
	</p>
	<p>
		Right now, I'm working at <a href="https://kjhk.org"><strong>KJHK 90.7 FM</strong></a>, building apps,
		dashboards, and playing around with cool analog broadcasting hardware. I'm also a Software Engineer at <a
			href="https://lightbulb.ai"><strong>Lightbulb.ai</strong></a
		>.
	</p>
	<CurrentlyPlaying client:load />

	<h3 class="fs:sm txt:main">Experience</h3>
	<div class="stack">
		{
			jobs.map((job, i) => (
				<>
					<JobExperience {...job} />
					{i !== jobs.length - 1 && <br />}
				</>
			))
		}
	</div>
	<a href="../../resume.pdf" style="text-align: right;">view resume</a>
	<h3 class="fs:sm txt:main">Projects</h3>
	<p>
		Here are some of the projects I've worked on (from <a href="https://github.com/aelxxs">GitHub</a>)
	</p>
	<div class="grid">
		{repos.map((repo) => <Project {...repo} />)}
	</div>

	<style>
		h3 {
			text-transform: uppercase;
		}

		section p {
			margin: 0.5rem 0;
			font-size: 1rem;
		}
	</style>
</MainLayout>
