---
import Project from "@blocks/Project.astro";
import JobExperience from "@blocks/WorkExperience.astro";
import MainLayout from "@layout/MainLayout.astro";

import CurrentlyPlaying from "@lib/blocks/CurrentlyPlaying.svelte";

const jobs = [
	{
		title: "Technology Director",
		company: "Lightbulb.ai",
		companyUrl: "https://lightbulb.ai",
		startDate: "May 2023",
		endDate: "Present",
		location: "Hyrbrid – Lawrence, KS",
		languages: [
			{
				url: "https://www.typescriptlang.org/",
				name: "TypeScript",
			},
			{
				url: "reactjs.org",
				name: "React",
			},
		],
		description:
			"Led tech systems development, improving websites, apps, and dashboards. Fixed WordPress plugin bugs for faster loading. Created an API gateway with TypeScript and Express.js for Radio Console System integration. Revamped mobile app with React Native and TypeScript. Enhanced tech support and documentation at the radio station.",
	},
	{
		title: "Software Engineer Intern",
		company: "Lightbulb.ai",
		companyUrl: "https://lightbulb.ai",
		startDate: "May 2023",
		endDate: "Present",
		location: "Remote",
		languages: [
			{
				url: "https://www.typescriptlang.org/",
				name: "TypeScript",
			},
			{
				url: "reactjs.org",
				name: "React",
			},
		],
		description:
			"lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam quis aliquam ultricies, nisl nisl aliquet nunc, vitae aliquam nisl nisl vitae nisl. Sed euismod, diam quis aliquam ultricies, nisl nisl aliquet nunc, vitae aliquam nisl nisl vitae nisl.",
	},
	{
		title: "Software Engineer Intern",
		company: "Lightbulb.ai",
		companyUrl: "https://lightbulb.ai",
		startDate: "May 2023",
		endDate: "Present",
		location: "Remote",
		languages: [
			{
				url: "https://www.typescriptlang.org/",
				name: "TypeScript",
			},
			{
				url: "reactjs.org",
				name: "React",
			},
		],
		description:
			"lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam quis aliquam ultricies, nisl nisl aliquet nunc, vitae aliquam nisl nisl vitae nisl. Sed euismod, diam quis aliquam ultricies, nisl nisl aliquet nunc, vitae aliquam nisl nisl vitae nisl.",
	},
];
---

<MainLayout title="Alexis Vielma">
	<div slot="title" class="stack">
		<p class="fs:md txt:mute">
			<abbr title="Software Engineering">SWE</abbr> Intern @ <a href="https://lightbulb.ai">Lightbulb.ai</a>
		</p>
		<p style="max-width: 40ch;">I design and build accessible and inclusive experiences for the web.</p>
	</div>
	<CurrentlyPlaying client:visible />
	<br />
	<h3 class="fs:xs">About Me</h3>
	<p>
		I am an aspiring Software/Production Engineer who enjoys tackling technical challenges: be it <strong
			>code optimization</strong
		>, service management, or being able to interact with people outside of the industry. I have <strong
			>ever-growing technical skills</strong
		> and an <strong>on-going academic background</strong> in <abbr title="">Computer Science</abbr>, <abbr title=""
			>Linguistics</abbr
		>, and <abbr title="">Korean</abbr>.
	</p>
	<p>
		My passion lies in being able to create fun and easy-to-use software that has the potential of reaching and
		helping many people while focusing on ease-of-use comes strong emphasis on <strong>UI/UX</strong>, <strong
			>HCI</strong
		>, and <strong>Continuous Development</strong>.
	</p>
	<p>
		I'm <strong>graduating in May 2025</strong> – Interested in Internship and Fellowship opportunities to further
		guide me in my career.
	</p>
	<br />
	<h3 class="fs:xs">Experience</h3>
	<div class="stack gap:1">
		{jobs.map((job) => <JobExperience {...job} />)}
	</div>
	<a href="/resume" style="text-align: right;">view resume</a>
	<br />
	<h3 class="fs:xs">Projects</h3>
	<p>A collection of my top projects</p>
	<div class="grid">
		<Project />
		<Project />
		<Project />
		<Project />
	</div>
</MainLayout>

<style>
	h3 {
		text-transform: uppercase;
		letter-spacing: 0.35ch;
		--line-width: 3rem;
	}

	h3::before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		margin-right: 1rem;
		width: var(--line-width);
		height: 1.75px;
		border-radius: 1rem;
		background: linear-gradient(to right, rgba(0, 0, 0, 0), #006e7b);
		transition: width 0.35s ease-in-out;
	}

	section p {
		margin: 0.5rem 0;
		font-size: 1rem;
	}
</style>

<script>
	const headers = document.querySelectorAll("h3");

	const observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.style.setProperty("--line-width", "6rem");

				headers.forEach((h) => {
					if (h !== entry.target) {
						h.style.setProperty("--line-width", "3rem");
					}
				});
			} else {
				entry.target.style.setProperty("--line-width", "3rem");
			}
		});
	});

	headers.forEach((header) => observer.observe(header));
</script>
 ../api/status ../api/status.json./api/status
