---
import Project from "@blocks/Project.astro";
import JobExperience from "@blocks/WorkExperience.astro";
import MainLayout from "@layout/MainLayout.astro";

const jobs = [
	{
		title: "Front End Engineer",
		company: "Amazon Web Services (AWS)",
		companyUrl: "https://aws.com",
		description: "AWS — SMGS Ops DP&I",
		startDate: "Aug 2025",
		endDate: "Present",
		location: "Seattle, WA",
		languages: [],
	},
	{
		title: "Technology Director",
		company: "KJHK 90.7 FM",
		companyUrl: "https://kjhk.org",
		startDate: "Mar 2023",
		endDate: "May 2025",
		location: "Hyrbrid – Lawrence, KS",
		languages: [
			{
				url: "https://www.typescriptlang.org/",
				name: "TypeScript",
			},
			{
				url: "reactjs.org",
				name: "React Native",
			},
			{
				url: "https://wordpress.org/",
				name: "WordPress",
			},
		],
		description: "Mobile Development, RDS Encoding, Metadata Transmission",
	},
	{
		title: "Front End Engineer Intern",
		company: "Amazon",
		companyUrl: "https://amazon.com",
		startDate: "May 2024",
		endDate: "Aug 2024",
		location: "Seattle, WA",
		languages: [],
		description: "Stores — Home Innovation Team",
	},
	{
		title: "Software Engineer",
		company: "Lightbulb.ai",
		companyUrl: "https://lightbulb.ai",
		startDate: "May 2023",
		endDate: "May 2024",
		location: "Remote",
		languages: [
			{
				url: "https://www.typescriptlang.org/",
				name: "TypeScript",
			},
			{
				url: "reactjs.org",
				name: "React",
			},
		],
		description: "Call performance, measured by sentiment",
	},
];

type Repo = {
	name: string;
	description: string;
	stargazerCount: number;
	forkCount: number;
	primaryLanguage: {
		name: string;
		color: string;
	};
	pushedAt: string;
	url: string;
};

const repos: Repo[] = await fetch("https://ghapi.dstn.to/aelxxs/pinned")
	.then((res) => res.json())
	.then((res) => res.data);

const title = "Alexis Vielma";
const subtitle = "Front End Engineer @ AWS 🌧️";
---

<MainLayout {title} {subtitle} overwritePageTitle>
	<article class="flow mb:5">
		<h2 class="fs:xs txt:main">About Me</h2>
		<p>
			Hello, I'm <strong>Alexis Vielma</strong>. I'm a recent Computer Science graduate from the
			<a href="https://ku.edu" target="_blank" data-no-tooltip>University of Kansas</a>.
			<p>
				I design and build accessible and inclusive experiences for the web. On my free time, I enjoy collecting
				and spinning vinyl records, learning languages, watching k-dramas, and playing <a
					href="https://stardewvalley.net"
					target="_blank">Stardew Valley</a
				>.
			</p>
		</p>

		<article class="flow mb:5">
			<h2 class="fs:xs txt:main">Experience</h2>
			<div class="stack gap:2 mt:2">
				{jobs.map((job) => <JobExperience {...job} />)}
			</div>
			<p style="text-align: right;">
				<a href="../../resume.pdf">View Resume</a>
			</p>
		</article>

		<article class="flow">
			<h2 class="fs:xs txt:main">Projects</h2>
			<div class="grid">
				{repos.map((repo) => <Project {...repo} />)}
			</div>
		</article>

		<style>
			h2 {
				text-transform: uppercase;
				position: relative;
			}

			h2::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 1rem;
				height: 0.25rem;
				background-color: var(--color-primary);
			}
		</style>
	</article>
</MainLayout>
