---
import Project from "@blocks/Project.astro";
import JobExperience from "@blocks/WorkExperience.astro";
import MainLayout from "@layout/MainLayout.astro";

import CurrentlyPlaying from "@blocks/NowPlaying.svelte";

const jobs = [
	{
		title: "Front End Engineer Intern",
		company: "Amazon",
		companyUrl: "https://amazon.com",
		startDate: "May 2024",
		endDate: "Present",
		location: "Seattle, WA",
		languages: [],
		description: "Working on the Amazon Home Innovation team.",
	},
	{
		title: "Technology Director",
		company: "KJHK 90.7 FM",
		companyUrl: "https://kjhk.org",
		startDate: "Mar 2023",
		endDate: "Present",
		location: "Hyrbrid – Lawrence, KS",
		languages: [
			{
				url: "https://www.typescriptlang.org/",
				name: "TypeScript",
			},
			{
				url: "reactjs.org",
				name: "React Native",
			},
			{
				url: "https://wordpress.org/",
				name: "WordPress",
			},
		],
		description:
			"Led technology system development, fixed WordPress plugin issues for faster page loads, built an event-driven API gateway, redesigned a mobile app with React Native and TypeScript, and improved technical problem resolution and documentation at the radio station.",
	},
	{
		title: "Software Engineer",
		company: "Lightbulb.ai",
		companyUrl: "https://lightbulb.ai",
		startDate: "May 2023",
		endDate: "May 2024",
		location: "Remote",
		languages: [
			{
				url: "https://www.typescriptlang.org/",
				name: "TypeScript",
			},
			{
				url: "reactjs.org",
				name: "React",
			},
		],
		description:
			"Created a backend API with Nest.js and TypeScript for multiple Natural Language Processors, built an MVP web dashboard with React and Vite, and researched serverless architecture for future scalability.",
	},
];

const awards = [
	{
		title: "Distinguished Engin",
	},
	{
		title: "Best Phone App",
		organization: "International Phone Awards",
		date: "2023",
		description: "Awarded for the best phone app of the year in",
	},
	{
		title: "2nd Place (General Track)",
		organization: "HackKU",
		date: "2023",
		description: "Awarded for developing a ",
	},
];

type Repo = {
	name: string;
	description: string;
	stargazerCount: number;
	forkCount: number;
	primaryLanguage: {
		name: string;
		color: string;
	};
	pushedAt: string;
	url: string;
};

const repos: Repo[] = await fetch("https://ghapi.dstn.to/aelxxs/pinned")
	.then((res) => res.json())
	.then((res) => res.data);
---

<MainLayout title="Alexis Vielma" overwritePageTitle>
	<br />
	<h3 class="fs:sm txt:main">About Me</h3>
	<p>
		Hello, I'm <strong>Alexis Vielma</strong>. I'm a <s>straight-C</s> Computer Science student at the
		<a href="https://ku.edu" target="_blank">University of Kansas</a>.
	</p>
	<p>
		I design and build accessible and inclusive experiences for the web. On my free time, I enjoy collecting and
		spinning vinyl records, learning languages, watching k-dramas, and playing <a
			href="https://stardewvalley.net"
			target="_blank">Stardew Valley</a
		>.
	</p>
	<p>
		Right now, I'm working at <a href="https://kjhk.org">KJHK 90.7 FM</a>, building apps, dashboards, and playing
		around with cool analog hardware. I'm also a Front End Engineer Intern at <a href="https://amazon.com">Amazon</a
		> for summer 2024.
	</p>
	<!-- <CurrentlyPmlaying client:load /> -->
	<br />
	<h3 class="fs:sm txt:main">Experience</h3>
	<div class="stack">
		{
			jobs.map((job, i) => (
				<>
					<JobExperience {...job} />
					{i !== jobs.length - 1 && <br />}
				</>
			))
		}
	</div>
	<p style="text-align: right;">
		<a href="../../resume.pdf" class="wavy-underline">View Resume</a>
		<span style="font-size: 0.725rem;">&ThinSpace;➤</span>
	</p>
	<br />
	<h3 class="fs:sm txt:main">Projects</h3>
	<p>
		Here are some of the projects I've worked on (from my <a href="https://github.com/aelxxs">GitHub</a>)
	</p>
	<div class="grid">
		{repos.map((repo) => <Project {...repo} />)}
	</div>

	<h3 class="fs:sm txt:main">Awards</h3>
	<p>I will add this section later.</p>

	<style>
		h3 {
			text-transform: uppercase;
		}

		.wavy-underline {
			font-size: 0.875rem;
			text-decoration: underline wavy var(--clr-500);
		}
	</style>
</MainLayout>
