---
import "../styling/style.css";
import "../styling/reset.css";

import Header from "@blocks/Header.astro";
import Footer from "@blocks/Footer.astro";

export interface Props {
	title: string;
	showHeader?: boolean;
	showFooter?: boolean;
}

const { title, showFooter = true, showHeader = true } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="banner">
			<div class="banner-content">
				<img class="hire-me" src="/yes.gif" alt="" />
				<p class="fs:sm">
					I'm currently open for internships and fellowships for summer 2024.
					<a href="mailto:alexis@alexis.lol">Contact me</a>.
				</p>
			</div>
		</div>
		<div class="root">
			{showHeader && <Header />}
			<!-- <span class="circle"></span> -->
			<main class="stack gap:6">
				<div class="hero-container">
					<img
						class="hero-img"
						src="https://i.pinimg.com/originals/c1/fc/9d/c1fc9d7f6ae08d56f2b84e81799790a5.gif"
						alt=""
					/>
				</div>
				<div id="hero" class="stack" style="--space: 0.85rem">
					<h1>{title}</h1>
					<slot name="title" />
				</div>
				<slot />
			</main>
			{showFooter && <Footer />}
		</div>
	</body>
</html>
<style>
	.root {
		max-width: 60rem;
		padding: 2.5rem 1rem;
		margin-inline: auto;
	}

	.wrapper {
		max-width: 60rem;
		margin-inline: auto;
	}
	.hire-me {
		width: 3.5rem;
		height: 3.5rem;
		margin-inline-end: 1rem;
	}

	.banner {
		padding: 1.5rem;
		background: var(--bg-mute);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.banner-content {
		display: flex;
	}

	.hero-img {
		position: relative;
		width: 100%;
		height: 15rem;
		object-fit: cover;
		border-radius: 0.5rem;
	}

	.hero-container {
		position: relative;
		margin-bottom: var(--s3);
	}

	/* .hero-container::after {
		content: "";
		display: block;
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(0, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
		border-radius: 0.5rem;
	} */

	@media (max-width: 768px) {
		.hero-img {
			height: 10rem;
		}
	}

	main {
		padding: 1.5rem 3.25rem;
	}

	@media (max-width: 768px) {
		main {
			padding: 1.5rem 0.75rem;
		}
	}

	.circle {
		position: fixed;
		inset: 0;
		pointer-events: none;
		z-index: -2;
	}

	.circle::before {
		filter: blur(5rem);
		content: "";
		display: block;
		width: 35rem;
		height: 35rem;
		border-radius: 50%;
		background: radial-gradient(circle, #006e7b, var(--bg-mute), transparent);
		transform: translate(-50%, -50%);
		animation: pulse 3s ease-in-out alternate infinite;
	}

	@keyframes pulse {
		from {
			transform: translate(-50%, -50%) scale(0.5);
		}
		to {
			transform: translate(-50%, -50%) scale(1.1);
		}
	}

	footer {
		padding-top: 1.5rem;
	}
</style>

<script>
	let inputX = 0;
	let inputY = 0;
	let posX = 0;
	let posY = 0;
	let alpha = 1;

	const circle = document.querySelector<HTMLSpanElement>(".circle");

	if (!circle) {
		throw new Error("No circle found");
	}

	addEventListener("mousemove", (event) => {
		inputX = event.clientX;
		inputY = event.clientY;

		alpha = 25;
	});

	addEventListener("touchmove", (event) => {
		if (event.touches.length > 0) {
			event.preventDefault();

			inputX = event.touches[0].clientX;
			inputY = event.touches[0].clientY;
		}

		alpha = 25;
	});

	let prev = 0;

	requestAnimationFrame(function render(now) {
		requestAnimationFrame(render);

		const factor = (now - prev) / 16;
		prev = now;

		const speed = 0.125;

		posX += factor * speed * (inputX - posX);
		posY += factor * speed * (inputY - posY);

		alpha *= Math.pow(0.95, factor);
		const opacity = Math.min(1, alpha);

		circle.style.transform = `translate3d(${~~posX}px, ${~~posY}px, 0)`;
		// circle.style.opacity = (Math.round(opacity * 255) / 255).toString();
	});
</script>
