---
import Template from "@layout/MainLayout.astro";
import LinkForm from "@blocks/LinkForm.svelte";
---

<Template title="Links" showFooter={true}>
	<p>
		⚠️ <b>Hey There</b>! You probably shouldn't be here. This is a private page (best security ever).
	</p>
	<LinkForm client:load />
</Template>
