/*
CLUSTER
More info: https://every-layout.dev/layouts/cluster/
A layout that lets you distribute items with consitent
spacing, regardless of their size

CUSTOM PROPERTIES AND CONFIGURATION
--wrap (wrap) Whether items should wrap or not. Can be wrap or nowrap.

--space (var(--space-m)) The space between items. Can be any acceptable
CSS length value.

--justify (flex-start) How items should justify. Can be any acceptable
flexbox justification value.

--align (center) How items should align. Can be any acceptable flexbox
alignment value.
*/

.cluster {
	display: flex;
	flex-wrap: var(--wrap, wrap);
	justify-content: var(--justify, flex-start);
	align-items: var(--align, center);
	gap: var(--space, var(--space-m));
}
